<!DOCTYPE html>
<html>
  <head>
    <title>OAuth登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>OAuth - Node.js</h1>
    <p>选择登录方式</p>
    <a href='<%=sina_url%>'>新浪微博登录</a> &nbsp;&nbsp;&nbsp;
    <a href='<%=renren_url%>'>人人登录</a> &nbsp;&nbsp;&nbsp;
    <a href='<%=qq_url%>'>QQ登录</a>
  </body>
</html>