<!DOCTYPE html>
<html>
  <head>
    <title>结果</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Result：</h1>&nbsp;&nbsp;&nbsp;<a href="/">返回</a>

    <div style="white-space: pre;">
    <%= result%>
	</div>

  </body>
</html>